/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  margin: 0;
  padding: 0;
}
.header, .hero, .footer{
  width: 100%;


}
.header{
  /*background-color: #FE5F55;*/
  height: 250px;
  background-image: url("Images/header1.jpg");
  background-size: cover;

}
h1{
  font-weight: bold;
  font-size:75px;
  color: white;
  text-align: center;
  font-family: "Playfair Display", serif;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 30px;

}
li{
  list-style-type: none;
  display: inline-block;
	margin-left: 20px;

}

ul{

  text-align: left;
}
a{
  text-decoration: none;

  font-size: 18px;
  font-family: "Playfair Display", serif;
  color: black;
  /*text-align: center;*/
  /*border: 2px solid white;*/
  background-color: none;
  padding: 3px;
  margin: 2px;
}
ul button:hover{

  background-color: lightgray;
}
.hero{
	/*margin-top: 40px;*/
  background-color: white;
  height: 500px;

}
h2{
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #3E1929;
  text-align: center;
  padding: 30px;
}


.wrapper{

  /*text-align: center;*/
	display: inline-block;

}

.fullwrap{
	text-align: center;
}

/*how to float image "left" but still stay centered on page?bra*/

img{
	text-align: center;
  margin-top: 10px;
  width: 300px;
  padding: 0px;
  margin: 10px;
	

}



h3{
  margin: 0px;
  /*display: inline-block;*/
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: #3E1929;
  text-align: center;
	margin-bottom: 50px;



}

p{

  font-size: 25px;
  font-family: "Playfair Display", serif;
  color: #3E1929;
  text-align: center;
}



.footer{
	padding: 15px;
	margin-top: 100px;
	background-color: #312F2F;
  height: 40px;
}

.footer ul {
	text-align: center;
}

.footer ul li{
	display: inline-block;
  padding: 10px;
  font-family: "Playfair Display", serif;
	color: white;


}
